[Unit]
Description=Enable SELinux boolean for container DRI access
ConditionSecurity=selinux
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/setsebool container_use_dri_devices 1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
